body{
    background-color: #EED2CC;
    display:flex;
    flex-direction: column;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    align-self: flex-end;
}
.row{
    max-height: 850px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    height: 820px;
    width: 820px;
}
.square{
    background-color: #FBF7F4;
}
button{
    width: 70px;
    height: auto;
    align-self: center;  
    margin: 5px;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}
.options{
    border: solid;
    padding: 10px;
    background-color: #FBF7F4;
    width: 300px;
    margin: 10px;
    text-align: center;
}
.label{
    text-align: center;
}
.slidecontainer{
    width: 100%;
}
.slider{
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    outline: none;
    opacity: .7;
    background: black;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #6C9A8B;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
}