body{
    background-color: #EED2CC;
    display:flex;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.square{
    background-color: #FBF7F4;
    border-width: 1px;
    border-style: solid;
    
}
button{
    width: 150px;
    height: 50px;
    align-self: center;  
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
}
.options{
    border: solid;
    padding: 10px;
    background-color: #FBF7F4;
}