body{
    background-color: #EED2CC;
    display:flex;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.square{
    background-color: #FBF7F4;
    border-width: 1px;
    border-style: solid;
    
}
button{
    width: 150px;
    height: 50px;
    align-self: center;  
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
}
.options{
    border: solid;
    padding: 10px;
    background-color: #FBF7F4;
}
.label{
    text-align: center;
}
.slidecontainer{
    width: 100%;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    opacity: .8;
    border-radius: 10px; 
    background: black;
}
.slider::-webkit-slider-thumb{
    background: yellow;
}